/.stock
stockpricevenv
graphsParsing/debug/data
config.py
/newsParsing/database
__pycache__
newsAndPriceMapping/news.csv
/train_news_dataset/
/tmp.ipynb
/result_news_data.csv
/train_graph_dataset
/result_train_data
/final_dataset
data
/embeddingsResearch/btc_news_with_future_prices.csv